.bg{
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/490/642/original/molecular-abstract-plexus-line-digital-background-geometric-network-structure-concept-modern-polygon-particle-connection-biotechnology-wallpaper-vector.jpg');
    height: 100%;
    background-size: cover;
}